@model Menu
@{
    ViewData["Title"] = "Supprimer un choix de menu";
}

<div id="product-delete-page" class="container-fluid">

    <div class="row">
        <div class="offset-md-1 offset-lg-2 col-md-10 col-lg-8">
            <div class="page-title">
                <h2>
                    <i class="fas fa-list"></i>
                    Supprimer un choix de menu
                </h2>
                <br/>
                <h5>Êtes-vous certain de vouloir supprimer cet item?</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-1 offset-lg-2 col-md-10 col-lg-8">
            <div class="form-section">
                <hr />
                <div class="row details-row">
                    <div class="col-sm-6">@Html.DisplayNameFor(model => model.Description) : </div>
                    <div class="col-sm-6">@Html.DisplayFor(model => model.Description)</div>
                </div>
                <hr />
                <form asp-action="Delete">
                    <input type="submit" value="Supprimer" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="links col-md-12">
            <a asp-action="List">Retour à la liste des choix de menu</a>
        </div>
    </div>
</div>
