@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MenuListVM
@{
    ViewData["Title"] = "choix de menu";
}

<div id="dashboard-page" class="container">
    <div class="row">
        <div class="col-12">
            <div class="page-title">
                <h2>
                    <i class="fas fa-list"></i>
                    Liste des choix de menu
                </h2>
            </div>
    </div>

    <div class="row">

            <table class="table table-sm table-bordered table-striped table-hover">
                <tr>
                    <th class="description">@Html.DisplayNameFor(model => model.Menus[0].Description)</th>
                    <th class="action">Actions</th>
                </tr>
                @if (Model.Menus.Count > 0)
                {
                    foreach (Menu menu in Model.Menus)
                    {
                        <tr>
                            <td class="description">@Html.DisplayFor(model => menu.Description)</td>

                            <td class="action">
                                <a asp-action="Edit" asp-route-id="@menu.Id">
                                    <span class="edit-icon" data-id="1" title="Modifier">
                                        <i class="fas fa-edit"></i>
                                </a>   |   
                                <a asp-action="Delete" asp-route-id="@menu.Id">
                                    <span class="delete-icon" data-id="1" title="Supprimer">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">Aucun menu trouvé.</td>
                    </tr>
                }
            </table>

    </div>

    <div class="row">
        <div class="col-md-12">
                <a asp-action="Create" class="btn btn-primary">Ajouter un choix Menu</a> 
        </div>
    </div>

        @* <p><a asp-action="Create">Ajouter un choix Menu</a></p> *@
        </div>
    </div>
</div>
