<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP5_ASP</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <link rel="stylesheet" href="~/css/site-bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  
    <!--
        Section qui permet d'ajouter du contenu dans <head> à partir d'une vue
        Voir la vue Contact/Index.cshtml pour un exemple.
    -->
    @await RenderSectionAsync("Links", required: false)
</head>
<body>
    <header>
        <div class="bg-dark text-white">
            <h1> RÉSERVATION EN LIGNE</h1>
        </div>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="text-light text-center bg-dark mt-3">
        <div class="container mw-100 bg-dark-lighten-1">
            <div class="row">
                <div class="col-lg-12 mt-3 mb-3 ">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                       Administration
                    </a>
                </div>
            </div>
        </div>

        <div class="container mw-100">
            <div class="row bg-black">
                <div class="col-12">
                    <h5>
                        ASP.NET MVC - @@Nelson Junior YN
                    </h5>
                </div>
            </div>
        </div>
    </footer>

    <!-- Placé à la fin du document pour un chargement plus rapide des pages -->
    <!-- Ordre : jQuery, Popper.js, puis Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <!--
        Section qui permet d'ajouter du JavaScript à partir d'une vue
        Voir la vue Contact/Index.cshtml pour un exemple.
    -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
