@model AdminMessageVM
@{
    ViewData["Title"] = "Message";
}

<div id="message-page">
    <div class="row">
        <div class="col-12">
            <div class="page-title">
                <h2>Message</h2>
            </div>

            <p>@Model.Message</p>
        </div>
    </div>
</div>
