html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.row {
    margin:2%;
    text-align:center;
}

#ad {
    color: blue;
    font-size:20px;
    font-style: italic;
}

header{
    text-align:center;
}

td, th {
    text-align: left;
}
#courriel {
    display:flex;
    flex-direction:row;
}

#basic-addon1 {
    border-right-color: transparent;
    border-right-width: 0;
}

.gauche {
    text-align: left;
}

#image  {
    align-content:center;
}

.bold {
    font-weight: bold;
}

.details-row {
    margin-bottom: 6%;
}

#message {
    color: red;
    font-size: x-large;
    font-weight: bold
}