html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.row {
    margin:2%;
    text-align:center;
}

#ad {
    color: blue;
    font-size:20px;
    font-style: italic;
}