@{
    ViewData["Title"] = "Tableau de bord";
}

<div id="dashboard-page" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title">
                <h2>SALUT Chèr(e) administrateur(trice) !</h2>
            </div>

            [C'est ici qu'on pourrait afficher quelques statistiques intéressantes...]
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="text-success">
                [Référez vous aux liens en pieds de page ou sur le menu de navigation]
            </h2>
        </div>
    </div>
</div>
