@{
    ViewData["Title"] = "Tableau de bord";
}

<div id="dashboard-page">
    <div class="row">
        <div class="col-12">
            <div class="page-title">
                <h2>Tableau de bord</h2>
            </div>

           Liste des choix de menu
        </div>
    </div>
</div>
